:root {
  --primary-color:#f7b05b;
  --secondary-color:#17bebb;
  --tertiary-color:#002626;
  --fourth-color:#f9cff2;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  border: 3px solid black;
  margin: 1rem;
  padding: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color:var(--primary-color);
  color: var(--tertiary-color);
}

.genre {
  border: 1px solid black;
  display: inline-block;
  margin: 1rem;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  cursor: pointer;
  background-color:var(--secondary-color);
}

li {
  list-style-type: none;
  padding: 1rem;
  margin: 1rem;
  border-radius:1rem;
  -webkit-border-radius:1rem;
  -moz-border-radius:1rem;
  -ms-border-radius:1rem;
  -o-border-radius:1rem;
  border: 2px solid black;
}

small{
  font-weight: medium;
}

#recomms div {
  font-weight: bold;
}

li {
  background-color: var(--fourth-color)
}